---
layout: default
ref: index
lang: en
---


<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title[page.lang] }}</h1>
      <p class="subtitle">{{ site.subtitle[page.lang] }}</p>
    </header>
  </div>
</div>

<div class="wrapper">

<h2> Welcome to the Platform for Ecological Analyses on Colombian Ecosystems </h2>

{% include page_divider.html %}

<p>
PEACE is an initiative promoted by a group of researchers, to understand the effect of the current socio-economic changes on the colombian ecosystems.
</p>

<p>
Colombia is currently going through a historical period of large
political, social, economic and environmental transformations; however, it is uncertain what are
the consequences of these transformations on natural resources,
biological diversity, and the environmental capital of the country. It is not clear whether these
social and political changes are leading to ecosystem degradation or whether
they are actually contributing to the conservation of natural areas. 
Recent satellite images suggest that deforestation rates and
and fires are increasing at unprecedented rates, and it is not clear
what are the consequences of these changes on water, species diversity,
climate, soils, and food security in Colombia.
</p>

<p>
PEACE proposes the creation of three strategic programs for Colombia:

<ol>
  <li><b>CES:</b> A National Center for Ecological Synthesis, which aims at producing 
      relevant information based on existing information, </li>

  <li> <b>EOS:</b> An Ecological Observatory of Colombia, which aims at generating new
       information with consistent protocols in diverse ecosystem types of Colombia,</li>

  <li> <b>PIDA:</b> Plataforms for Interdisciplinary Dialog and Action to connect different stakeholders,
       generate discusion, and promote actions for the understanding and conservation of Colombian ecosystems.</li>
</ol>
</p>

<p>
The main idea of this initiative is well developed in the following publication:

<ul class="post-list">
  <li>Sierra, C. A., Mahecha, M., Poveda, G., Álvarez-Dávila, E., Gutierrez-Velez Vı́ctor H.,
      Reu, B., Feilhauer, H., Anáya, J., Armenteras, D., Benavides, A.M., Buendia, C., Duque, A.,
      Estupiñan-Suarez, L.M., González, C., Gonzalez-Caro, S., Jimenez, R., Kraemer, G., Londoño, M.C.,
      Orrego, S.A., Posada, J.M., Ruiz-Carrascal, C.D., Skowronek, S. (2017). Monitoring ecological change during rapid socio-economic
      and political transitions: Colombian ecosystems in the post-conflict era. Environmental Science and Policy, 76, 40–49.
      <a href="http://www.sciencedirect.com/science/article/pii/S1462901117303805"> doi:10.1016/j.envsci.2017.06.011 </a>
  </li>
</ul>
</p>

{% include page_divider.html %}

<!--
<h2> Con el apoyo de:</h2>
<div class="row">
 <div class="col-md-6"><a href="https://www.bmbf.de/en/index.html"><img class="img-responsive" src="{{site.baseurl}}/assets/BMBF_Logo.png" width="50"></a>
 </div>
 <div class="col-md-6"><a href="http://www.bgc-jena.mpg.de/"><img class="img-responsive" src="{{site.baseurl}}/assets/MPI.png" width="100"></a>
 </div>
</div>
-->

</div>
